
aiogram
apscheduler
python-dotenv


aiohttp
beautifulsoup4
certifi


pandas
numpy
openpyxl
dbfread
py7zz
requests
python-dateutil

# Загрузка данных в БД Superset (PostgreSQL)
sqlalchemy
psycopg2-binary
